@{
    ViewData["Title"] = "Erişim Engellendi - ";
}

<div class="row" >
    <div class="col-4 offset-4">
        <h2 class="display-4 border-bottom text-center pb-2" style="color:brown" ><br />Erişim Engellendi<br /></h2><hr/>
    </div>
</div>


<div class="tab-content clearfix" style="margin-bottom:560px;display:flex;justify-content: center;align-items: center;">
    <div class="col-4 offset-4">
        <form>
            İlgili sayfaya erişiminiz yoktur.
        </form>
    </div>
</div>