@model List<TheaterModel>
@{
    ViewData["Title"] = "Home Page";
}
	

<section id="booking">
 <div class="container">
  <div class="row">
   <div class="booking_1 clearfix">
     <h3>Popüler Salonlar</h3>
	 <div class="booking_1_inner clearfix">
	 @foreach (var favoriSalon in Model)
				{
					<div class="col-sm-3">
						<div class="booking_1_inner_1 clearfix">
						  <a asp-controller="Theater" asp-action="Index" ><img src="~/uploads/@favoriSalon.Resim" width="100%" height="220px"></a>
						  <h4><a asp-controller="Theater" asp-action="Index" >@favoriSalon.SalonAdi</a></h4>
						  <p><a asp-controller="Theater" asp-action="Index" ><i class="fa fa-phone"></i> @favoriSalon.Telefon</a></p>
						  <h6><a asp-controller="Theater" asp-action="Index" >Bilgi Al</a></h6>
						</div>
					  </div>
				}
	 </div>
   </div>
  </div>
 </div>
</section>

<section id="booking_last">
 <div class="container">
  <div class="row">
   <div class="booking_last clearfix">
    <div class="col-sm-4">
	  <div class="booking_right_main_3 clearfix">
	     <div class="grid">
					<figure class="effect-milo">
						<img src="~/img/saat.png" alt="img03" style="background-color:white">
						<figcaption>
							<h2>Alpa <span>go</span></h2>
							<p>Artık uzun kuyruklarda beklemeye gerek yok. Hızlıca işlemleri tamamlayarak, sinema keyfinizi daha fazla bekletmeden yaşayın!</p>
							</figcaption>			
	            </figure>
	      </div>
	   </div>
	</div>
	<div class="col-sm-4">
	  <div class="booking_right_main_3 clearfix">
	     <div class="grid">
					<figure class="effect-milo">
						<img src="~/img/guvenli.png" alt="img03" style="background-color:white">
						<figcaption>
							<h2>Alpa <span>go</span></h2>
							<p>Güvenlik ve gizlilik önceliğimizdir. Ödeme süreçlerimiz, en son teknoloji güvenlik önlemleriyle korunmaktadır.</p>
						</figcaption>			
	            </figure>
	      </div>
	   </div>
	</div>
	<div class="col-sm-4">
	  <div class="booking_right_main_3 clearfix">
	     <div class="grid">
					<figure class="effect-milo">
						<img src="~/img/hesapli.png" alt="img03" style="background-color:white" accesskey="">
						<figcaption>
							<h2>Alpa <span>go</span></h2>
							<p>Uygun fiyatlarımız ve kampanyalarımız ile bilet almanın hesaplı yolunu sunuyoruz. </p>
						</figcaption>			
	            </figure>
	      </div>
	   </div>
	</div>
   </div>
  </div>
 </div>
</section>
