@{
    ViewData["Title"] = "Home Page";
}
	
<br /><br />
<section id="booking">
 <div class="container">
  <div class="row">
   <div class="booking clearfix">
    <div class="col-sm-8">
	 <div class="booking_left_main clearfix">
		   <ul class="nav nav-tabs">	
			  <li class="active"><a data-toggle="tab" href="#home">Vizyondaki Filmler</a></li>
			  <li><a data-toggle="tab" href="#menu1">Gelecek Filmler</a></li>
           </ul>

			<div class="tab-content clearfix">
			  <div id="home" class="tab-pane fade in active clearfix">
				 <div class="click clearfix">
				  <div class="click_1 clearfix">
				   <h3 style="text-align:center">Online Sinema Bileti </h3>
				   <br/>
				  </div>
				  <div class="click_2 clearfix">
				    <div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/4.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Integer </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/4.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Elementum</a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/4.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Inceptos </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/4.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Nec Odio</a></p>
					</div>
				    </div>
				  </div>
				  <div class="click_2 clearfix">
				    <div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/5.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Integer </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/5.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Elementum</a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/5.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Inceptos </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/5.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Nec Odio</a></p>
					</div>
				    </div>
				  </div>
				  <div class="click_2 clearfix">
				    <div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/6.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Integer </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/6.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Elementum</a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/6.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Inceptos </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/6.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Nec Odio</a></p>
					</div>
				    </div>
				  </div>
				  <div class="click_2 clearfix">
				    <div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/7.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Integer </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/7.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Elementum</a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/7.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Inceptos </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/7.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Nec Odio</a></p>
					</div>
				    </div>
				  </div>
			     </div>
			  </div>
			  <div id="menu1" class="tab-pane fade clearfix">
				 <div class="click clearfix">
				  <div class="click_1 clearfix">
					<h3 style="text-align:center">Online Sinema Bileti </h3>
					<br />
				  </div>
				  <div class="click_2 clearfix">
				    <div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/8.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Integer </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/8.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Elementum</a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/8.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Inceptos </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/8.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Nec Odio</a></p>
					</div>
				    </div>
				  </div>
				  <div class="click_2 clearfix">
				    <div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/9.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Integer </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/9.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Elementum</a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/9.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Inceptos </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/9.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Nec Odio</a></p>
					</div>
				    </div>
				  </div>
				  <div class="click_2 clearfix">
				    <div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/10.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Integer </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/10.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Elementum</a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/10.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Inceptos </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/10.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Nec Odio</a></p>
					</div>
				    </div>
				  </div>
				  <div class="click_2 clearfix">
				    <div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/11.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Integer </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/11.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Elementum</a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/11.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Inceptos </a></p>
					</div>
				    </div>
					<div class="col-sm-3">
				     <div class="click_2_inner clearfix">
					    <a href="#"><img src="~/img/11.jpg" width="100%" height="220px"></a>
						<p class="text-center"><a href="#">Nec Odio</a></p>
					</div>
				    </div>
				  </div>
			     </div>
			  </div>

			</div>

	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="booking_right_main clearfix">
	   <div class="booking_right_main_1 clearfix">
	    <ul>
		 <li class="book_1">Film Bileti Ara</li>
		 <li class="pull-right"><a href="#"><i class="fa fa-ticket"></i></a></li>
		</ul>
	   </div>
	   <div class="booking_right_main_2 clearfix">
	    <div class="booking_right_main_2_inner clearfix">
		  <p>Film Seç </p>
		  <select class="form-control">
			  <option>SELECT MOVIE</option>
			  <option>AVENGERS</option>
			  <option>KESRI</option>
			  <option>SOTY 2</option>
			  <option>KALANK</option>
			  <option>HULK</option>
         </select>
		</div>
		<div class="booking_right_main_2_inner clearfix">
		  <p>Salon Seç</p>
		  <select class="form-control">
			  <option>SELECT EVENT</option>
			  <option>AVENGERS</option>
			  <option>KESRI</option>
			  <option>SOTY 2</option>
			  <option>KALANK</option>
			  <option>HULK</option>
         </select>
		</div>
		<div class="booking_right_main_2_inner clearfix">
		  <p>Tarih Seç</p>
		  <select class="form-control">
			  <option>CHOOSE  DATE</option>
			  <option>WED 22 JAN 2019</option>
			  <option>THU 23 JAN 2019</option>
			  <option>FRI 24 JAN 2019</option>
			  <option>SAT 25 JAN 2019</option>
			  <option>SUN 26 JAN 2019</option>
         </select>
		</div>
	   </div>
	   <div class="booking_right_main_3 clearfix">
	     <div class="grid">
					<figure class="effect-milo">
						<img src="~/img/16.jpg" alt="img03"/>
						<figcaption>
							<h2>Cinema <span>Zone</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a href="#">View more</a>						</figcaption>			
	            </figure>
	      </div>
	   </div>
	   <div class="booking_right_main_3 clearfix">
	     <div class="grid">
					<figure class="effect-milo">
						<img src="~/img/17.jpg" alt="img03"/>
						<figcaption>
							<h2>Cinema <span>Zone</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a href="#">View more</a>						</figcaption>			
	            </figure>
	      </div>
	   </div>
	 </div>
	</div>
   </div>
   <div class="booking_1 clearfix">
     <h3>Popüler Salonlar</h3>
	 <div class="booking_1_inner clearfix">
	  <div class="col-sm-3">
	    <div class="booking_1_inner_1 clearfix">
		  <a href="#"><img src="~/img/18.jpg" width="100%" height="220px"></a>
		  <h4><a href="#">Vestibulum lacinia arcu eget nulla</a></h4>
		  <h5>Launched: 14 Jan 2019</h5>
		  <p><a href="#">Fusce nec tellus sed augue semper porta auris massa lacinia arcu eget nulla.</a></p>
		  <h6><a href="#">Bilgi Al</a></h6>
		</div>
	  </div>
	  <div class="col-sm-3">
	    <div class="booking_1_inner_1 clearfix">
		  <a href="#"><img src="~/img/19.png" width="100%" height="220px"></a>
		  <h4><a href="#">Lorem ipsum dolor sit amet, adipiscing elit</a></h4>
		  <h5>Launched: 15 Jan 2019</h5>
		  <p><a href="#">Fusce nec tellus sed augue semper porta auris massa lacinia arcu eget nulla.</a></p>
		  <h6><a href="#">Bilgi Al</a></h6>
		</div>
	  </div>
	  <div class="col-sm-3">
	    <div class="booking_1_inner_1 clearfix">
		  <a href="#"><img src="~/img/20.jpg" width="100%" height="220px"></a>
		  <h4><a href="#">Sed cursus ante dapibus diam sed nisi</a></h4>
		  <h5>Launched: 16 Jan 2019</h5>
		  <p><a href="#">Fusce nec tellus sed augue semper porta auris massa lacinia arcu eget nulla.</a></p>
		  <h6><a href="#">Bilet Al</a></h6>
		</div>
	  </div>
	  <div class="col-sm-3">
	    <div class="booking_1_inner_1 clearfix">
		  <a href="#"><img src="~/img/21.jpg" width="100%" height="220px"></a>
		  <h4><a href="#">Nulla quis sem at elementum imperdiet</a></h4>
		  <h5>Launched: 17 Jan 2019</h5>
		  <p><a href="#">Fusce nec tellus sed augue semper porta auris massa lacinia arcu eget nulla.</a></p>
		  <h6><a href="#">Bilet Al</a></h6>
		</div>
	  </div>
	 </div>
   </div>
  </div>
 </div>
</section>

<section id="booking_last">
 <div class="container">
  <div class="row">
   <div class="booking_last clearfix">
    <div class="col-sm-4">
	  <div class="booking_right_main_3 clearfix">
	     <div class="grid">
					<figure class="effect-milo">
						<img src="~/img/16.jpg" alt="img03">
						<figcaption>
							<h2>Cinema <span>Zone</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a href="#">View more</a>						</figcaption>			
	            </figure>
	      </div>
	   </div>
	</div>
	<div class="col-sm-4">
	  <div class="booking_right_main_3 clearfix">
	     <div class="grid">
					<figure class="effect-milo">
						<img src="~/img/17.jpg" alt="img03">
						<figcaption>
							<h2>Cinema <span>Zone</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a href="#">View more</a>						</figcaption>			
	            </figure>
	      </div>
	   </div>
	</div>
	<div class="col-sm-4">
	  <div class="booking_right_main_3 clearfix">
	     <div class="grid">
					<figure class="effect-milo">
						<img src="~/img/22.jpg" alt="img03">
						<figcaption>
							<h2>Cinema <span>Zone</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<a href="#">View more</a>						</figcaption>			
	            </figure>
	      </div>
	   </div>
	</div>
   </div>
  </div>
 </div>
</section>
