@{
    ViewData["Title"] = "Admin Paneli - ";
}

<div class="row" >
    <div class="col-4 offset-4">
        <h2 class="display-4 border-bottom text-center pb-2" ><br />Admin Paneli<br /></h2><hr/>
    </div>
</div>