@model CreateCinemaModel
@{
    ViewData["Title"] = "Film Ekle - ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main id="main" class="main" >
    <div class="row" >
        <div class="col-4 offset-4">
             <h2 class="display-4 border-bottom text-center pb-2"><br />Sinema Salonu Ekle<br /></h2>
        </div>
    </div> 
    <section class="section" >
      <div class="row">
        <div class="col">

          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sinema Salonu Ekle</h5>

              <!-- Vertical Form -->
              <form class="row g-3" method="post" style="margin-left:500px;width:500px;margin-top:10px">
                <div class="col-12 ">
                  <label asp-for="SalonAdi" class="form-label">Salon Adı</label>
                  <input asp-for="SalonAdi" type="text" class="form-control" id="inputNanme4" />
                  <span asp-validation-for="SalonAdi" class="text-danger small"></span>
                </div>
                <div class="col-12">
                  <label asp-for="Adres" class="form-label">Adres</label>
                  <input asp-for="Adres" type="text" class="form-control" id="inputNanme4">
                  <span asp-validation-for="Adres" class="text-danger small"></span>
                </div>
                <div class="col-12">
                  <label asp-for="Telefon" for="inputPassword4" class="form-label">Telefon</label>
                  <input asp-for="Telefon" type="text" class="form-control" id="inputNanme4">
                  <span asp-validation-for="Telefon" class="text-danger small"></span>
                </div>
                <div class="col-12">
                  <label asp-for="PopulerSalon" class="form-label">Populer Salon Mu?</label>
                  <select asp-for="PopulerSalon" type="text" class="form-select" id="inputNanme4" >
                      <option value="">Lütfen Seçiniz.</option>
                      <option value="true">Evet</option>
                      <option value="false">Hayır</option>
                  </select>
                  <span asp-validation-for="PopulerSalon" class="text-danger small"></span>
                  <div class="col-12">
                      <label asp-for="Fiyat" for="inputPassword4" class="form-label">Fiyat</label>
                      <input asp-for="Fiyat" type="text" class="form-control" id="inputNanme4">
                      <span asp-validation-for="Fiyat" class="text-danger small"></span>
                </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
              </form><!-- Vertical Form -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

