@model CreateSessionModel
@{
    ViewData["Title"] = "Seans Ekle - ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main id="main" class="main" >
    <div class="row" >
        <div class="col-4 offset-4">
             <h2 class="display-4 border-bottom text-center pb-2"><br />Seans Ekle<br /></h2>
        </div>
    </div> 
    <section class="section" >
      <div class="row">
        <div class="col">

          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Seans Ekle</h5>
              <!-- Vertical Form -->
              <form class="row g-3" method="post" style="margin-left:500px;width:500px;margin-top:10px">
                <div class="col-12 ">
                  <label asp-for="SalonId" class="form-label">SalonID</label>
                  <input asp-for="SalonId" type="text" class="form-control" id="inputNanme4" />
                  <span asp-validation-for="SalonId" class="text-danger small"></span>
                </div>
                <div class="col-12">
                  <label asp-for="FilmId" class="form-label">FilmID</label>
                  <input asp-for="FilmId" type="text" class="form-control" id="inputNanme4" />
                  <span asp-validation-for="FilmId" class="text-danger small"></span>
                </div>
                <div class="col-12">
                  <label asp-for="Tarih" for="inputPassword4" class="form-label">Tarih</label>
                  <input asp-for="Tarih" type="date" class="form-control" id="inputNanme4">
                  <span asp-validation-for="Tarih" class="text-danger small"></span>
                </div>
                <div class="col-12">
                  <label asp-for="Saat" class="form-label">Saat</label>
                  <input asp-for="Saat" type="time" class="form-select" id="inputNanme4" >
                  <span asp-validation-for="Saat" class="text-danger small"></span>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
              </form><!-- Vertical Form -->
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

